header > #navbar {
    height: 110px;
    background: url('/assets/images/headerCurvedPath.svg') no-repeat center bottom / 100%,
                var(--default-gradient);
}
#mainNavBar a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}
#mainNavBar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #FFF;
    transition: ease-in-out .3s;
}
#mainNavBar a:hover::after {
    width: 100%;
}
#mainNavBar {
    font-size: .8rem;
}
header .navbar-brand img {
    height: 30px;
    margin: 10px 0 10px 30px;
}

.navbar-toggler-icon {
    color: #FFF;
}


/* BREAKPOINTS EDITS */
@media (max-width: 991px) {
    #navbar {
        padding: 0;
    }
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        margin-left: 15px;
    }
    .navbar-toggler {
        margin-right: 15px;
    }
    #mainNavBar {
        padding: 15px;
        background-color: #FFF;
        z-index: 999;
    }
    #mainNavBar a {
        color: #000!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #mainNavBar {
        box-shadow: 0 5px 15px #c3c1d6;
    }
}
@media (max-width: 768px) {
    header > #navbar {
        height: initial;
        background: var(--default-gradient);
    }
}
@media (max-width: 576px) {
    header .navbar-brand img {
        height: 25px;
    }
}