:root {
  --default-gradient: linear-gradient(45deg, #071590 0, #ff003c 100%);
  --theme-first-color: #C60851;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}
p {
  margin-bottom: 5px;
}